---
layout: default
---
  <article class="post entry">
    {% if page.image %}
    <div class="featured-image">
      <a href="{{ page.url | prepend: site.url }}"><img src="{{ page.image }}" height="540" width="960" class="post-image" alt="{{ page.title }}"></a>
    </div>
    {% endif %}
    <div class="entry-box">
      <header class="entry-header">
        <h1 class="entry-title"><a href="{{ page.url | prepend: site.url }}" rel="bookmark">{{ page.title }}</a></h1>
        <div class="entry-meta">
          <span>{% if page.author %}{{ page.author }}{% else %}{{ site.author.name }}{% endif %}</span> · <span>
            <time class="published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
          </span> · <a href="{{ page.url | prepend: site.url }}#comments" title="Comment on Care Less What Other People Think">Leave a Reply</a> · <a href="https://github.com/{{ site.author.github }}/{{ site.author.github }}.github.io/edit/master/{{ page.path }}" target="_blank">Modify</a></div>
      </header>
      <!-- .entry-header -->
      <div class="entry-content">
        <p>{% if page.summary %} {{ page.summary }} {% endif %}</p>
        {{ content }}
      </div>
      <!-- .entry-content -->
      <footer class="entry-footer entry-meta">
        <i class="icon-folder-open"></i>
        {% for category in page.categories %}
        <a href="{{ site.url }}/categories.html#{{ category | escape }}" rel="category">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
        &nbsp;<i class="icon-tag"></i>
        {% for tag in page.tags %}
        <a href="{{ site.url }}/tags.html#{{ tag | escape }}" rel="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </footer>
      <!-- .entry-meta -->
    </div>
    <!-- .entry-box -->
    <div class="author-box">
      <div class="author-info">
        <img alt="" src="{{ site.author.avatar | prepend: site.url }}" class="avatar" height="135" width="135">
        <h3 class="author-title">About {{ site.author.name }}</h3>
        <p class="author-bio">{{ site.author.intro }}<br><a class="author-link" href="{{ site.url }}" rel="author">View all posts by {{ site.author.name }} <span class="icon-angle-double-right"></span></a></p>
      </div>
      <!-- .author-info -->
    </div>
    <!-- .author-box -->
  </article>

